$font-stack: 'Open Sans', sans-serif;
$font-stash: 'Poppins', sans-serif;
$font-weight-1: 400; 
$font-weight-2: 600;
$font-weight-3: 700;
$primary-color-1: hsl(322, 100%, 66%);
$primary-color-2: hsl(321, 100%, 78%);
$primary-color-3: hsl(0, 100%, 63%);
$neutral-color-1: hsl(192, 100%, 9%);
$neutral-color-2: hsl(207, 100%, 98%);
/*$blend-color: #F6FBFF;*/